  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="?p=admin&sub=list">Pages</a></li>
      <li><a href="?p=admin&sub=listnavi">Navigation</a></li>
    </ul>
  </li>