<form class="form-horizontal" method="POST" action="?p=admin&sub=[[$sub]]post&id=[[$id]]&token=[[$token]]">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="title" placeholder="Title" value="[[$title]]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTarget">Target</label>
    <div class="controls">
      <input type="text" id="inputTarget" name="target" placeholder="Target" value="[[$target]]">
      <label class="checkbox">
        <input type="checkbox" name="external" value="yes"[[$external]]> External link
      </label>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>