<form class="" method="POST" action="?p=admin&sub=[[$sub]]post&page=[[$page]]&token=[[$token]]">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="title" placeholder="Title" value="[[$title]]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCont">Content</label>
    <div class="controls">

      <textarea name="content" id="inputCont" class="input-block-level" cols="30" rows="10">[[$content]]</textarea>

      <!--<div contenteditable="true" id="inputCont" style="width:100%; height:200px; overflow : auto; scrollbar-base-color : #FFCCCC; scrollbar-3dlight-color : #FFCCCC; scrollbar-highlight-color : #FF9933; scrollbar-face-color : #FF9933; scrollbar-arrow-color : #FF6600; scrollbar-shadow-color : #FCDDCC; scrollbar-darkshadow-color : #FF9966; scrollbar-track-color : #FCDDCC; ">[[$content]]</div>-->
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="?p=admin&sub=list" class="btn">Cancel</a>
    </div>
  </div>
</form>
<!--<script src="js/jquery-1.4.4.min.js"           type="text/javascript" charset="utf-8"></script>
<script src="js/jquery-ui-1.8.7.custom.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="js/elrte.min.js"                  type="text/javascript" charset="utf-8"></script>
<script src="js/i18n/elrte.en.js"              type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var opts = {
            lang         : 'en',   // set your language
            styleWithCSS : false,
            height       : 400,
	        toolbar      : 'maxi'
        };
        // create editor
        $('#inputCont').elrte(opts);

        // or this way
		// var editor = new elRTE(document.getElementById('inputCont'), opts);
	})
</script>
