<form class="form" action="?p=admin&sub=newpage" method="POST">
  <div class="control-group">
    <!--<label class="control-label" for="inputTitle">New Page</label>-->
    <div class="controls">
      <div class="input-append">
        <input type="text" id="inputTitle" name="page" placeholder="New Page..." value="">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</form>
[[$list]]