<form class="form-horizontal" method="POST" action="?p=loginpost[[$return]]">
  <div class="control-group">
    <div class="controls">
      <div class="btn-group">
      	<a class="btn btn-primary active">Log in</a>
        <a class="btn btn-success" href="?p=signup[[$return]]">Register</a>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAcc">Account</label>
    <div class="controls">
      <input type="text" id="inputAcc" name="user" placeholder="Account">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="pass">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox disabled" style="color: gray;">
        <input type="checkbox" name="remember" disabled> Remember me
      </label>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>