<tr>
  <td>[[$id]]</td>
  <td>[[$title]]</td>
  <td><!--<a href=\"".($el->navi_external == "true" ? $el->navi_target : "?p=$el->navi_target")."\">$el->navi_target</a>-->[[$tar]]</td>
  <td>
    <div class="btn-group">
      <a href="?p=admin&sub=editnavi&id=[[$id]]" class="btn btn-primary">Edit</a>
      <a href[[$updis]]="?p=admin&sub=naviup&id=[[$id]]" class="btn btn-info [[$updis]]">Up</a>
      <a href[[$downdis]]="?p=admin&sub=navidown&id=[[$id]]" class="btn btn-info [[$downdis]]">Down</a>
      <a href="?p=admin&sub=delnavi&id=[[$id]]" class="btn btn-danger">Delete</a>
  </td>
</tr>