<tr>
  <td>[[$id]]</td>
  <td>[[$page]]</td>
  <td>[[$title]]</td>
  <td>[[$size]]</td>
  <td>
    <div class="btn-group">
      <a class="btn btn-info" href="?p=admin&sub=editpage&page=[[$page]]">Edit</a>
      <!--<noscript>-->
        <a class="btn btn-danger [[$dis]]" href[[$dis]]="?p=admin&sub=delpage&page=[[$page]]">Delete</a>
      <!--</noscript>
      <script type="text/javascript">
        document.write('<a class="btn btn-danger" onclick="pagedeleteconfirm(\'[[$page]]\')">Delete</a>');
      </script>-->
    </div>
  </td>
</tr>