<form class="form-horizontal" method="POST" action="?p=signuppost[[$return]]">
  <div class="control-group">
    <div class="controls">
      <div class="btn-group">
        <a class="btn btn-primary" href="?p=login[[$return]]">Log in</a>
        <a class="btn btn-success active">Register</a>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAcc">Account</label>
    <div class="controls">
      <input type="text" id="inputAcc" name="user" placeholder="Account">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPW1">Password</label>
    <div class="controls">
      <input type="password" id="inputPW1" name="pw1" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPW2">Repeat Password</label>
    <div class="controls">
      <input type="password" id="inputPW2" name="pw2" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAcc">E-Mail Address</label>
    <div class="controls">
      <input type="text" id="inputMail" name="mail" placeholder="EMail">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </div>
</form>