<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[$name]]
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="?p=profile&user=[[$name]]">Account</a></li>
    <li class="divider"></li>
    <li><a href="?p=logout" style="color: orange;"><b>Logout</b></a></li>
  </ul>
</li>